<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newate="{{eaten}}">
		{{#if eaten}}Eat Dat Ish!
		{{else}}Make Another!
		{{/if}}
	</button>
	<button class="delete" data-id="{{this.id}}">
		DELETE
	</button>
</li>
