<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newAte="{{ate}}">
		{{#if ate}}Eat Dat Ish!{{else}}All Gone!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">
		DELETE
	</button>
</li>
